@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="fb-like" data-href="http://www.aldacoenen.be" data-layout="standard" data-colorscheme="dark" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
