@page "/"

<h1>Impressies</h1>

<ul>
    <li class="wrapper" style="float:left; width:49%">
        <a href="Art">
            <img src="img/art/2011.jpg" alt="" style="width:100%">
            <div class="centered">Art</div>
        </a>
    </li>
    <li class="wrapper" style="float:right; width:49%">
        <a href="Jewelry">
            <img src="img/jewelry/161.jpg" alt="" style="width:100%;">
            <div class="centered">Jewelry</div>
        </a>
    </li>
</ul>
