@page "/media"

<h1>Media</h1>

<center>
    <div style="width: 60%; margin-bottom: 40px; text-align: center; background-color: #f2f2f2; padding: 20px;">
        <h2 style="color: black; font-style: italic;">15 jaar dienstencentrum de bolster</h2>
        <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="img/media/media.jpg" />
        <img src="img/media/media.jpg" style="width: 100%;"/>
    </div>
</center>

<center>
    <div style="width: 60%; margin-bottom: 40px; text-align: center; background-color: #f2f2f2; padding: 20px;">
        <h2 style="color: black; font-style: italic;">Expositie Zo...zoo Oude Burelen oktober 2019 </h2>
        <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="img/media/1.JPG" />
        <img src="img/media/1.JPG" style="width: 45%; margin: 5px;"/>
        <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="img/media/2.JPG" />
        <img src="img/media/2.JPG" style="width: 45%; margin: 5px;"/>
    </div>
</center>

<!-- Start Profile -->
<div class="span4 profile" style="margin-bottom: 10px;">
    <img src="img/media/profile.png" alt="" >
    <div>
        <h3 class="profile-name">'Alda Coenen stelt etsen en schilderkunst tentoon' - 13/05/2016</h3>
        <p class="profile-description">Maasmechelen -Jaarlijks exposeert de Maasmechelse kunstenares en lid van het MAKK, Alda Coenen, haar werken op diverse locaties. De voorkeur gaat echter uit naar een exporuimte waar haar werk volledig tot z’n recht kan komen en dat is in een natuurlijke habitat zoals de huiskamer of handelszaak. In tegenstelling tot een traditionele tentoonstelling kan hier het werk niet enkel bewonderd worden maar ook ervaren. Het is daarom ook met veel plezier dat Alda haar werken tijdelijk aan Brasserie ’t Törrep uitleent.</p>
        <a href="http://www.hbvl.be/cnt/dmf20160513_02288676/alda-coenen-stelt-etsen-en-schilderkunst-tentoon"><font color="black">Lees meer</font></a>
    </div>
</div>
<!-- End Profile -->

<!-- Start Profile -->
<div class="span4 profile" style="margin-bottom: 10px;">
    <img src="img/media/profile-02.jpg" alt="">
    <div>
        <h3 class="profile-name">'MAKK exposeert in cultuurcentrum' - 06/05/2013</h3>
        <p class="profile-description">Maasmechelen -Ondanks het zonnige weer mocht de Maasmechelse Kunstkring (MAKK) het voorbije weekend in het cultuurcentrum rekenen op veel belangstelling voor haar jaarlijkse tentoonstelling met als motto Accenten. Dat thema werd vrij breed ingevuld door de negen deelnemende kunstenaars die vooral keramiek, grafiek, schilderijen en zelfs bonsai exposeerden.</p>
        <a href="http://www.nieuwsblad.be/cnt/dmf20130505_00567589"><font color="black">Lees meer</font></a>
     </div>
</div>
<!-- End Profile -->

<!-- Start Profile -->
<div class="span4 profile" style="margin-bottom: 10px;">
    <img src="img/media/profile-03.jpg" alt="Joshua Insanus">
    <div>
        <h3 class="profile-name">'Ik werk graag met felle kleuren en sterke contrasten' - 02/08/2012</h3>
        <p class="profile-description">Maasmechelen - Schilderen is haar leven. 'In het eerste leerjaar mocht ik verven met plakkaatverf. De expressiviteit die dat bood, heeft me nooit meer losgelaten', glimlacht Alda Coenen. Vijf decennia later houdt ze haar zoveelste tentoonstelling van nieuw, expressief werk, in seniorencentrum De Bolster in Eisden.</p>
        <a href="http://www.nieuwsblad.be/cnt/bllco_20120802_001"><font color="black">Lees meer</font></a>
    </div>
</div>
